extends layoutExplore

block content
  body(background="/images/explore.jpg")
    .jumbotron
      h1.display-4.align-middle Explore A Bigger World
      hr
      p.lead
        | Your journey starts here
      hr.my-4
      p.lead
        | Try some exploration now!
      .col-md-12.text-center
        a.btn.btn-outline-primary.btn-lg(href="exploreresult" role="button") Start Browsing
