extends layout

block content
  .container
        .card.mb-3
          img.card-img-top(src="/images/card2.jpg" alt="Card image cap")
          .card-body
            h5.card-title A random diary title
            p.card-text
              | Content of random diary
            p.card-text
              small.text-muted Last updated 3 mins ago
          .col-sm-12.text-center
            .card-body
              a.btn.btn-outline-secondary.btn-sm(href="/exploreresult" role="button") Explore another
