extends layout

block content
  br
  hr
  form(action="home")
    .form-group.row
      label.col-sm-2.col-form-label(for="inputEmail3") Email
      .col-sm-6
        input#inputEmail3.form-control(type="email" placeholder="Email")
    .form-group.row
      label.col-sm-2.col-form-label(for="inputPassword3") Password
      .col-sm-6
        input#inputPassword3.form-control(type="password" placeholder="Password")
    .form-group.row
      .col-sm-10
        button.btn.btn-secondary(type="submit") Sign in
  a.btn.btn-danger(href="/auth/google")
      span.fa.fa-google-plus  Google
